* {
    margin: 0;
    padding: 0
}

.switch {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.switch label {
    margin-top: 0.5rem;
    position: relative;
    width: 80px;
    height: 30px;
    display: block;
    background: #d9d9d9;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}

.switch label:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-radius: 100px;
    top: 5px;
    left: 10px;
    transition: 1.0s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

 .switch input:checked ~ label:after{
    left: 70px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  .switch input:checked ~ label{
    background: #242424;
}

.switch input{
    display: none;
  }

  header {
    text-align: right;
    margin: 1rem 2rem 0 0
  }

body {
    background-color: #5bcaf5;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
}

label, select, #players p {
    margin-bottom: 1rem
}

.container {
    display:flex;
    justify-content: center;
}

.btn {
    padding: 16px 32px;
    border-radius: 48px;
    background-color: #ffea8c;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem
}

.btn:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#mainboard {
    display: none;
   /*  grid-template: repeat(3, auto) / repeat(3, 1fr); */
    gap: 16px;
    margin: 10vh;
    place-content: center;

    grid-template: repeat(3, auto) / repeat(3, minmax(200px, 400px));
}

#result {
    grid-column: 2;
    place-self: center;
    font-size: 2rem;
    font-weight: 700;
    justify-self: center;
}
#players {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "play play" "a b";
    gap: 10px;
    align-items: center;
    text-align: center;
}

#chooseAi {
    margin: 0.5rem 0 0.5rem 0;
}

#chooseAi label {
    margin-left: 10px;
}

#letsplay {
grid-column: 1/3;
align-items: center;
}

.playername {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 0 2rem 0 2rem
}

#startBtn {
    margin-top: 5vh;
    grid-column: 1/4;
    display: flex;
    justify-self: center;
    padding: 12px 24px
}

#player1, #player2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.board {
    grid-column: 2;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 1px;
   place-content: center;
   z-index: 0;
}

.field {
    background-color: aliceblue;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.field:disabled {
    color:blueviolet;
    font-size: 2rem;
    
}

.field:hover:enabled {
    background-color: rgb(218, 238, 255);
}

#playAgain{
    display: flex;
    justify-self: center;
    grid-area: 1/1/2/4;
}
