* {
    margin: 0;
    padding: 0
}

body {
    background-color: #7fdbff;
}

label {
    margin-top: 1rem
}

.container {
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    grid-template-areas:
    "... plyers ... "
    "playerOne board playerTwo" ;
/*    place-items: center; */
    gap: 20px;
}

.players {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    place-items: center
}

#player1, #player2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.board {
    grid-column: 2;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 2px;
}

.field {
    background-color: aliceblue;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.field:disabled {
    color:blueviolet;
    font-size: 2rem;
    
}

.field:hover:enabled {
    background-color: rgb(218, 238, 255);
}